{{!-- notes.hbs --}}
<section class="ss-panel ss-panel-notes">
  <details class="ss-note-block" open>
    <summary>General</summary>
    <textarea name="system.notes.general">{{system.notes.general}}</textarea>
  </details>

  <details class="ss-note-block">
    <summary>Allies</summary>
    <textarea name="system.notes.allies">{{system.notes.allies}}</textarea>
  </details>

  <details class="ss-note-block">
    <summary>Rivals</summary>
    <textarea name="system.notes.rivals">{{system.notes.rivals}}</textarea>
  </details>

  <details class="ss-note-block">
    <summary>Locations</summary>
    <textarea name="system.notes.locations">{{system.notes.locations}}</textarea>
  </details>

  <details class="ss-note-block">
    <summary>Other</summary>
    <textarea name="system.notes.other">{{system.notes.other}}</textarea>
  </details>

</section>